.tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.tagList li {
  display: inline-block;
}

.tag {
  font-size: 10pt;
  display: inline-block;
  border: 1px outset #777;
  border-radius: 0.3em;
  padding-inline: 0.3em;
  margin-inline-end: 0.75em;
  margin-block: 0.3em;
  white-space: pre;
  color: black;
  background-color: #eee;
  scale: 1;
  transition-property: scale;
  transition-duration: 0.2s;
}

.tag > a {
  text-decoration: none;
  color: inherit;
}

.tag:hover:has(a),
.tag:has(a:focus) {
  scale: 1.2;
  z-index: 50;
}

.tag.tag-nsfw,
.tag.tag-shame,
.tag.tag-deadname {
  background: red;
  border-color: red;
  color: white;
}

.tag.tag-dox {
  background: orange;
  border-color: orange;
  color: white;
}

.tag.tag-personStar {
  background-color: green;
  color: white;
}

.tag.tag-petStar {
  background-color: brown;
  color: white;
}

.tag.tag-bandStar {
  background-color: purple;
  color: white;
}
