/build.d.ts
/build.js
/build.js.map
/graph.d.ts
/graph.js
/graph.js.map
/graph.dot
/graph.png
dist/
node_modules/
tsconfig.tsbuildinfo
/with-*
/var/
/services/scan/
/services/available/**/supervise/
/services/available/*/log/main/
