/* .mediaInfoGrid {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
}

.mediaInfoGrid > div {
  border-radius: 0.4em;
  margin: 0.1em;
  padding: 0.2em;
  padding-inline: 0.6em;
  text-align: left;
  text-wrap: none;
}

.mediaInfoGrid > div.k1 {
  grid-column: 1;
  background: purple;
  color: white;
}

.mediaInfoGrid > div.k2 {
  grid-column: 2;
  background: green;
  color: white;
}

.mediaInfoGrid > div.v {
  grid-column: 3;
  background: blue;
  color: white;
}

.mediaInfoGrid .mig-c {
  grid-row-start: 1;
  grid-row-end: 4;
}

.mediaInfoGrid .mig-v {
  grid-row-start: 4;
  grid-row-end: 8;
}

.mediaInfoGrid .mig-a {
  grid-row-start: 8;
  grid-row-end: 12;
}

.resolutionName {
  background: white;
  color: blue;
  padding: 0.15em 0.3em 0em;
  border-radius: 0.2em;
  margin-inline: 0.5em;
  font-size: 80%;
  font-weight: bold;
} */
