.mediaInfoTable .data {
  text-align: end;
  padding-inline: 1em;
}

.mediaInfoTable > tbody > tr:nth-child(2n) {
  /* opacity: 0.8; */
  background-color: #eee;
}

.mediaInfoTable td {
  padding-block: 0.4em;
}
