/* FIXME, not working */
/* .listOfDays > thead {
  position: sticky;
  top: 0;
  background: black;
} */

/* .listOfDays > tbody > tr > td {
  background-color: #fff;
}*/

.listOfDays > tbody > tr:nth-child(2n) > td {
  background-color: #eee;
}

.listOfDays > tbody > tr > td {
  padding-inline: 0.5em;
}

.dayLink {
  text-decoration: dotted black underline 1px;
}
