.navigation {
  padding-block-end: 0.3em;
  border-block-end: 1px dotted red;
  margin-block-end: 1em;
  padding-inline: 1em;
}

.navigation a[href],
.navigation a[href]:visited {
  background-color: black;
  color: orange;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

.navigation a[href]:hover,
.navigation a[href]:focus {
  color: black;
  background-color: orange;
}
