.daysTable thead {
  position: sticky;
  top: 0;
  background: black;
}

.daysTable tbody tr:first-child td {
  border-top: 0.1em solid orange;
}

.daysTable th {
  padding: 0.2em;
}

.daysTable td {
  padding: 0.2em;
}

.daysTable tbody tr:nth-child(2n) {
  background-color: #230;
}
