body {
  font-family: sans-serif;
  padding: 1em;
  background: #000;
  color: #fff;
}

a[href],
a[href]:visited {
  color: orange;
  text-decoration: none;
}

a[href]:focus,
a[href]:active {
  color: orange;
  text-decoration: underline;
}

#react_container:fullscreen {
  overflow: scroll;
}

.listOfDays {
  list-style: none;
  margin-block-end: 3em;
}

.listOfDays li:hover {
  background: #eed;
}

.listOfDays a {
  display: flex;
}

.listOfDays .date {
  margin-right: 0.5em;
}

/* .dateAndStats .dayName {
  display: inline-block;
  width: 2em;
} */

.listOfDays .count {
  margin-right: 1em;
  text-align: right;
  width: 2em;
}
/* .dateAndStats .count {
  display: inline-block;
  width: 2.5em;
} */

/* .listOfDays .countWithGps {
  margin-right: 1em;
  text-align: right;
  width: 2em;
} */
/* .dateAndStats .countWithGps {
  display: inline-block;
  width: 2.5em;
} */

.description .noData {
  opacity: 0.3;
}

.editable.inactive:hover {
  background-color: #ccf;
}

td {
  padding-inline-end: 1em;
}
