.exifTable thead {
  position: sticky;
  top: 0;
  background: black;
}

.exifTable th,
.exifTable td {
  padding-left: 1em;
  padding-right: 1em;
}

.exifTable td:not(:first-child) {
  text-align: right;
}

.exifTable tbody tr:nth-child(2n) {
  background-color: #344;
}
