.listOfTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listOfTags li {
  display: inline;
}

.listOfTags li {
  /* color: white; */
  line-height: 2.5em;
  text-wrap: nowrap;
  text-decoration: none;
}

/* .listOfTags li a:hover,
.listOfTags li a:active,
.listOfTags li a:focus {
  background: white;
  color: black;
} */
