.tag {
  font-family: monospace;
  color: white !important;
  background-color: blue;
  border: 1px outset #777;
  border-radius: 0.3em;
  padding: 0.3em;
  margin-inline-end: 0.5em;
}

.tag[class*="tag-nsfw"],
.tag[class*="tag-shame"],
.tag[class*="tag-deadname"] {
  background: red;
  border-color: red;
}

.tag[class*="tag-dox"] {
  background: orange;
  border-color: orange;
  color: black !important;
}

.tag[class*="tag-person:"] {
  background-color: green;
}

.tag[class*="tag-pet:"] {
  background-color: brown;
}
